.home-wrapper 
{
    display: flex;
    justify-content: center;
}


.home-container {  margin: 30px;
   
    padding: 60px 90px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    $background-color: 'light';
}


.left-col { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    .style-link {
      max-width: 250px;
    }
}
 


.styled-title { 
    padding-bottom: 30px;
    max-width: 280px;
    line-height: 50px;}
 


.illustration { flex: 1;}
 
