.cards-container {
  display: grid;
  gap: 24px;
  grid-template-rows: 350px 350px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.page-title {
  font-size: 30px;
  color: black;
  text-align: center;
  padding-bottom: 30px;
}

.page-subtitle {
  font-size: 20px;
  color: "#8186A0";
  font-weight: 300;
  text-align: center;
  padding-bottom: 30px;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}
